html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

main {
	height: calc(100% - 64px);
}

#map {
	height: 100%
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

nav {
	background-color: #666;
	font-size: 36px;
}

.side-nav li:first-child img {
	width: 300px;
}

.title {
	font-family: Cardo;
}

.title-image {
	margin: -2px;
	width: 30px;
	height: 30px;
}

.loogo {
}

.icon-menu-leaf {
    margin-left: 33%;
    margin-top: 20px;
    width: 96px !important;
    height: 96px;
}
